<main class="min-h-screen flex items-center justify-center p-4">
  <section
    class="w-full max-w-sm border-2 border-gray-200 rounded-xl bg-white p-6 shadow-lg"
  >
    <h2 class="text-morado text-2xl font-bold text-center mb-6">
      Iniciar Sesión
    </h2>
    <hr class="border-t-2 border-gray-400 mt-2" />
    <br />

    <form class="space-y-4 flex flex-col">
      <label for="email" class="block text-sm font-medium mb-1"
        >Correo Electrónico</label
      >
      <input
        id="email"
        type="email"
        placeholder="Ingresa tu correo"
        class="input-form"
      />

      <label for="password" class="block text-sm font-medium mb-1"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        placeholder="Ingresa tu contraseña"
        class="input-form"
      />

      <button type="submit" id="email-login" class="w-full boton text-center py-2">Ingresar</button>
      <a class="text-celeste text-right">¿Olvidaste tu contraseña?</a>
      <p class="text-sm text-center">
        ¿No tienes una cuenta?
        <a href="/cuenta-usuario" class="text-celeste hover:underline"
        >Registrate aquí</a
        >
      </p>
    </form>
    <button id="google-login" class=" mt-4 w-full boton text-center py-2">Ingresa con Google</button>
  </section>
</main>
<script>
  import { signInWithEmail, signInWithGoogle } from '../../services/auth.js';
  import { $user } from '../../stores/userStore.js';

  $user.subscribe((user) => { //redirecciona si ya hay un usuario logueado
    if (user.data) {
      window.location.href = '/admin';
    }
  })

  document.getElementById('email-login')?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const email = (document.getElementById('email') as HTMLInputElement).value;
    const password = (document.getElementById('password') as HTMLInputElement).value;
    await signInWithEmail(email, password);
  });

  document.getElementById('google-login')?.addEventListener('click', async () => {
    await signInWithGoogle();
  });
</script>
