<main class="min-h-screen flex items-center justify-center p-4">
  <div
    class="w-full max-w-sm border border-gray-200 rounded-xl bg-white p-6 shadow-lg"
  >
    <h2 class="text-[var(--color-morado)] text-2xl font-bold text-center mb-6">
      Crear Cuenta Nueva
    </h2>
    <form id="form-registro" class="flex flex-col space-y-2">
      <label for="nombre" class="block text-sm font-medium mb-1">Nombre</label>
      <input
        id="nombre"
        type="text"
        placeholder="Nombre"
        class="input-form"
      />

      <label for="email" class="block text-sm font-medium mb-1"
        >Correo Electrónico</label
      >
      <input
        id="email"
        type="email"
        placeholder="Correo Electrónico"
        class="input-form"
      />

      <label for="password" class="block text-sm font-medium mb-1"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        placeholder="Crea una contraseña"
        class="input-form"
      />

      <!-- <a
        href="#"
        type="submit"
        class="w-full text-center boton text-white px-4 py-2 rounded-lg transition"
      >
        Crear Cuenta
      </a> -->

      <button
        type="submit"
        class="w-full text-center boton text-white px-4 py-2 rounded-lg transition"
        >Crear Cuenta
      </button>

      <p class="text-sm text-center mt-4">
        ¿Ya tienes una cuenta?
        <a href="/inicio-usuario" class="text-celeste hover:underline"
          >Inicia sesión aquí</a
        >
      </p>
    </form>
  </div>
</main>

<script>
import { signUpWithEmail } from '../../services/auth.js';
  import {$user} from '../../stores/userStore.js';

  $user.subscribe((user) => { //redirecciona si ya hay un usuario logueado
    if (user.data) {
      window.location.href = '/admin';
    }
  })

  document.getElementById('form-registro')?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const email = (document.getElementById('email') as HTMLInputElement).value;
    const password = (document.getElementById('password') as HTMLInputElement).value;
    const displayName = (document.getElementById('nombre') as HTMLInputElement).value;
    try {
    await signUpWithEmail(email, password,displayName);

    alert("Registro exitoso. ¡Bienvenido!");
    window.location.href = "/inicio-usuario"; 

  } catch (error) {

    alert(error || "Error al registrar usuario");
    console.error("Error en el registro:", error);
  }
  });

</script>

