---
import BotonFlecha from "../ui/BotonFlecha.astro";
const imagenes = [
  { src: "/images/gato.jpg", alt: "Gato descansando" },
  { src: "/images/gato.jpg", alt: "Perro corriendo en el parque" },
  { src: "/images/gato.jpg", alt: "Pájaro sobre una rama" }
];
---

<section class="relative w-full max-w-4xl mx-auto overflow-hidden  my-6 rounded shadow">
  <div id="slider-track" class="flex transition-transform duration-300" style="transform: translateX(0%)">
    {imagenes.map(({ src, alt }) => (
      <figure class="w-full flex-shrink-0 h-64">
        <img
          src={src}
          alt={alt}
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </figure>
    ))}
  </div>

  <BotonFlecha style="left-2" direccion="rotate-90" id="btn-prev" />
 
  <BotonFlecha style="right-2" direccion="-rotate-90" id="btn-next" />
  <script is:inline>
    const track = document.getElementById("slider-track");
    const total = track.children.length;
    let index = 0;

    document.getElementById("btn-next").addEventListener("click", () => {
      if (index < total - 1) index++;
      update();
    });

    document.getElementById("btn-prev").addEventListener("click", () => {
      if (index > 0) index--;
      update();
    });

    function update() {
      track.style.transform = `translateX(-${index * 100}%)`;
    }
  </script>
</section>
