
    <section class=" w-full h-full flex ">
        <section class="w-[30%] max-h-[70%] h-full pr-3">
            <div class="w-full h-auto border mt-[14vh]">
            <h3  class="text-[1.9rem] m-3 font-bold">Lista de Categorias</h3>
                <div id="box-lists" class="w-full h-auto p-4">
<!-- espacio para listas -->
                </div>
            </div>
        </section>
        <section class="w-[70%] h-full flex items-center flex-col pl-3">
            <h3 id="name-list" class="w-full h-[5%] m-[7vh_0_2vh] text-[3rem] grid place-items-center font-bold">Titulo de Categoria</h3>
            <div id="box-contain" class="w-full h-auto overflow-auto border p-5 grid gap-4 grid-cols-[repeat(auto-fit,minmax(200px,1fr))]">

    <!-- espacio para productos -->

            </div>
        </section>
    </section>

    <script type="module" src="../../src/components/CategoriasList/indexCL"></script>