<footer class="bg-gray-800 py-8 px-6">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Datos de empresa -->
    <section class="text-center md:text-left">
      <img src="/images/mainlogo.png" class="mx-auto md:mx-0 w-32 md:w-40 mb-4" alt="Logo">
      <p id="footer-descripcion" class="text-white text-justify md:text/left text-sm leading-relaxed">
        PerueBooks.com es la primera y la más grande librería en línea del Perú especializada en libros electrónicos, con cobertura en Latinoamérica y España
      </p>
    </section>

    <!-- Información -->
    <section class="text-center md:text-left px-30">
      <h2 id="footer-informacion" class="text-white text-lg mb-4">INFORMACIÓN</h2>
      <ul class="space-y-2 text-white">
        <li class="text-sm">
          <a id="footer-terminos" target="_blank" href="https://drive.google.com/file/d/1KN4y_37pikO96btcEzRAyHOqv0uNDoqe/view?usp=sharing">
            Términos y Condiciones
          </a>
        </li>
        <li id="footer-ayuda" class="text-sm">Ayuda</li>
      </ul>
    </section>

    <!-- Redes Sociales -->
    <section class="md:text-center text-center">
      <h3 id="footer-conectate" class="font-poppins text-white text-lg mb-4">CONÉCTATE</h3>
      <div class="flex justify-center md:justify-center space-x-4">
        <a href="#"><img src="/images/facebook.png" class="w-8 md:w-10" alt="Facebook"></a>
        <a href="#"><img src="/images/skype.png" class="w-8 md:w-10" alt="Skype"></a>
        <a href="https://x.com/perubookstore"><img src="/images/twitter.png" class="w-8 md:w-10" alt="Twitter"></a>
      </div>
    </section>
  </div>
</footer>
