<footer class="bg-gray-800 py-8 px-10">
    <div class="grid grid-cols-3 gap-4">
        <!-- Datos de empresa -->
        <section>
           <img src="images/mainlogo.png" class=" w-40 p-5">
           <p class="text-white text-justify text-sm">PerueBooks.com es la primera y la más grande librería en línea del Perú especializada en libros electrónicos, con cobertura en Latinoamérica y España</p>

        </section>
        <!-- Información -->
        <section>
            <h2 class="text-white text-center p-5">INFORMACIÓN</h2>
            <ul class="list-disc pl-40 text-white">
                <li class="text-sm">  <a target="_blank" href="https://drive.google.com/file/d/1KN4y_37pikO96btcEzRAyHOqv0uNDoqe/view?usp=sharing">Términos y Condiciones</a></li>
                <li class="text-sm">Ayuda</li>
            </ul>

        </section>
        <!-- Redes Sociales -->
        <section class="ml-auto text-center" >
            <h3 class="font-poppins text-white text-sm p-5" >CONÉCTATE</h3>
            <div class="flex space-x-3">
            <a href="#"><img src="images/facebook.png" class=" w-10"></a>
            <a href="#"><img src="images/skype.png" class=" w-10"></a>
            <a href="https://x.com/perubookstore"><img src="images/twitter.png" class=" w-10"></a>
            </div>
        </section>
    </div>
</footer>