
<section class="bg-white min-w-[270px] min-h-[60%] h-full w-full flex flex-col items-center rounded-[10px]">
    <h3 class="bg-green-500 w-full h-auto rounded-[] rounded-[10px_10px_0_0] p-2 text-[white] grid place-items-center font-bold">
        Articulos mas Vendidos
    </h3>
    <div id="boxMostWanted" class="w-full h-full grid grid-rows-5 p-1">
        <!--
        vacio para articulo mas vendidos
        -->
    </div>
</section>

<script  src="../scripts/MasVendidos/indexMV"></script>

