
<section class="bg-white  min-h-[60%] border border-gray-200  h-full  flex flex-col  rounded">
    <h2 class="bg-green-500 w-full text-center h-auto rounded-[] rounded-t p-2 text-white  font-bold">
        Mas Vendidos
    </h2>
    <div id="boxMostWanted" class="w-full h-full flex p-4 space-y-2 border-gray-400 flex-col ">
        <!--
        vacio para articulo mas vendidos
        -->
    </div>
</section>

<script   src="../scripts/MasVendidos/indexMV"></script>

