---
import libros from "../../data/libros.json";
import BookDetail from "../../components/BookDetail.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Categoria from "../../components/secciones/Categoria.astro";
import Footer from "../../components/Footer.astro";
import type { Libro } from "../../types/libro";
import librosData from "../../data/libros.json";

export async function getStaticPaths() {
  return libros.map((libro) => ({
    params: { id: String(libro.id) },
    props: { libro },
  }));
}

const { libro } = Astro.props;
---

<Layout>
  <Header />
  <main class="flex flex-col min-h-screen mx-auto w-full p-4 max-w-6xl">
    <BookDetail libro={libro} />
    <Categoria libros={librosData} tituloSeccion="Recomendado"/>
  </main>
  <Footer />
</Layout>
