---
import BookDetail from "../../components/BookDetail.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Categoria from "../../components/secciones/Categoria.astro";
import Footer from "../../components/Footer.astro";
import { urlBase } from "../../services/urlBase.ts";
const response = await fetch(`${urlBase}/api/productos/librosnew`);
const librosNuevos = await response.json();

export async function getStaticPaths() {
  const response = await fetch(`${urlBase}/api/productos/libros`);
  const librosData = await response.json();
  return librosData.map((libro) => ({
    params: { id: String(libro.id) },
    props: { libro },
  }));
}

const { libro } = Astro.props;
---

<Layout>
  <Header />
  <main class="flex flex-col min-h-screen mx-auto w-full p-4 max-w-6xl">
    <BookDetail libro={libro} />
    <Categoria libros={librosNuevos} tituloSeccion="Recomendado" />
  </main>
  <Footer />
</Layout>
