---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Categoria from "../components/secciones/Categoria.astro";
import librosData from "../data/libros.json";
import seccionesData from "../data/idiomas/es.json";

interface Libro {
  titulo: string;
  descripcion: string;
  precio: number;
  autor: string;
  anio_publicacion: number;
  fecha_subida: string;
  categoria: string;
  idioma: string;
  images: string;
}
interface PaginaInicio {
  categorias: string[];
  recomendados: string;
  footer: string[];
}


function obtenerDatos(): ({
  libros: Libro[];
  configuracion: PaginaInicio;
} ){
  const libros: Libro[] = librosData;
  const configuracion: PaginaInicio = seccionesData;

  return { libros, configuracion };
}

const secciones = obtenerDatos();
---

<Layout titulo="home" descripcion="tienda de libros">
  <Header />
  <main class="h-screen w-screen">
    {
      secciones.configuracion.categorias.map((data) => (
        <Categoria libros={secciones.libros} tituloSeccion={data} />
      ))
    }
  </main>
  <Footer />
</Layout>
